*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-hovered-blue: hsl(225, 70%, 65%);
}

html {
  font-size: 62.5%;
}

.fw-900 {
  font-weight: 900;
}

body {
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  background-color: var(--clr-pale-blue);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

button {
  font-family: "Red Hat Display", sans-serif;
}

.bg-container {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  background-image: url("./imgs/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50%;
  width: 100%;
}

.card {
  width: 370px;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.card > img {
  width: 100%;
}

.card-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-content > h1 {
  font-size: 2.8rem;
  color: var(--clr-dark-blue);
}

.card-content > p {
  font-size: 1.6rem;
  text-align: center;
  color: var(--clr-desaturated-blue);
}

.order-plan {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: var(--clr-very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-plan > a {
  font-size: 1.4rem;
  font-weight: 700;
}
.order-plan > a:hover {
  text-decoration: none;
  color: var(--clr-hovered-blue);
}

.plan-details {
  display: flex;
  gap: 1rem;
}

.plan-title {
  color: var(--clr-dark-blue);
}
.plan-subtitle {
  color: var(--clr-desaturated-blue);
}

.payment-btn {
  width: 100%;
  padding: 1.4rem;
  border: none;
  outline: none;
  background-color: var(--clr-bright-blue);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 15px 2px var(--clr-pale-blue);
}
.payment-btn:hover {
  background-color: var(--clr-hovered-blue);
}
.payment-btn:active {
  box-shadow: 2px 2px 15px 2px var(--clr-pale-blue);
}

.cancel-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--clr-desaturated-blue);
  cursor: pointer;
}
.cancel-btn:hover {
  color: var(--clr-dark-blue);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  color: var(--clr-dark-blue);
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--clr-bright-blue);
}

@media (max-width: 375px) {
  .bg-container {
    background-image: url("./imgs/pattern-background-mobile.svg");
  }
  .card {
    width: 98%;
  }
}
